.inspection-layout {
  display: flex;
  gap: 40px;
  padding: 20px;
  color: #d0d2d6;
  background-color: transparent;
}

.image-side {
  flex: 1;
}

.table-side {
  flex: 2;
}

.image-missing {
  margin-top: 20px;
  text-align: center;
  color: gray;
  font-size: 14px;
}

.image-icon {
  font-size: 32px;
  margin-bottom: 8px;
}

.inspection-table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  background: none;
  color: #d0d2d6;
}
    

.inspection-table th,
.inspection-table td {
  padding: 6px 10px;
  text-align: center;
}

.inspection-table th {
  font-weight: 500;
  color: #ccc;
}
.inspection-table th {
  font-weight: 500;
  /* color: #000; */
  background-color: #312E2E; 
  font-size: 12px;
}
.image-side p {
  font-size: 14px; 
  color: #bec0c4;
  margin-top: 4px;
}
.table-side p {
  font-size: 14px; 
  color: #bec0c4; 
  margin-top: 4px;

} 
.inspection-table tr {
  border-bottom: 1px solid #545A6A; 
  width: 25px;
}



.table-side {
  position: relative;
  padding-bottom: 80px; /* Space for buttons to not overlap content */
}

.table-buttons-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}



.input-check {
  display: flex;
  align-items: center;
  gap: 6px;
}

.boolean-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-buttons-right {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #555 !important; /* darker grey for dark theme */
  color: #ccc !important;
  border-color: #444 !important;
}
